.viswa{
    background-color: aqua;
    height: 100vh;
    width: 100%;
  }
  .viswa button{
    
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  .container{
    padding: 40px;
    /* margin-top: 200px; */
    /* min-height: 200px;  */
  }
  
  .item {
    width: 100px;
    height:100px;
    margin: 0 auto;
    background-color: rgb(224, 174, 174);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  #ramsi{
    display: flex;
    align-items: center;
    justify-content: center;
  }